<div class="page-brand">
    <a routerLink="/dashboard">
        <span class="brand"><img src="../../../assets/img/logos/made_in_tunisia_logo.png " style=" height:61px;"></span>
        <span class="brand-mini">CT</span>
    </a>
</div>
<div class="flexbox flex-1">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li>
            <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </li>

    </ul>
    <!-- END TOP-LEFT TOOLBAR-->
    <!-- START TOP-RIGHT TOOLBAR-->
    <!-- END TOP-RIGHT TOOLBAR-->
</div>
