img {
  width: 30%;
}
h4{
  margin-left: 25px !important;
}
.rounded-circle{
  min-width: 90px !important;
  min-height: 90px !important;
  max-width: 100px;
  max-height: 100px;
  //margin-left: 115px !important;
  border: 1px solid #990000;
  border-radius: 50% !important;
}
.align-middle{
  display: inline-table !important;
}
ion-text{
  text-transform: capitalize;
  vertical-align: middle !important;
}

ion-col{
    text-align: left !important;
}
ion-label{
    color: #990000 !important;
     font-weight: bold !important;
}
ion-icon{
  color: #990000 !important;
}
.select-md {
    display: none;
  }
