.k-card-body h4 {
  text-align: center;
}
.recipe-wrap {
  padding-top: 12px;
}
.k-icon {
  font-size: 14px;
  margin-right: 4px;
}
.k-card-actions-vertical.k-card-actions-start .k-button,
.k-card-actions-vertical.k-card-actions-end .k-button {
  width: 50px;
}
.k-card-separator {
  height: auto;
}
.k-icon.k-i-heart {
  color: #ff6358;
}
.form-control-solid {
  background-color: #bdc3c7;
  border-color: #5C6BC0;
}
