ion-content{
    --overflow:hidden;
    text-align: center;
  }
  
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  
  h2{
    margin-bottom: 45px;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  p{
    color:#990000;
    
  }
  